
<div class="container">
  <div class="card">
    <h4 class="card-header">
      OBJET : <%= email.object %>
    </h4>
    <div class="card-body" id="card-read-<%=email.id%>">
      <blockquote class="blockquote mb-0">
        <p><%= email.body %></p>
        <blockquote class="blockquote"><%=email.read%></blockquote>

	        <%= link_to email_path(email.id), method: :put, :remote => true do %> 
            <button type="button" class="btn btn-primary btn-sm" id="btn-read-<%=email.id%>">Marquer comme non lu</button>
          <%end%>

	        <%= link_to email_path(email.id), method: :delete, data: { confirm: "Voulez-vous supprimer ce mail ?", :remote => true } do %> 
	        	<button type="button" class="	btn btn-secondary btn-sm">Supprimer</button>
          <%end%>

      </blockquote>
    </div>
  </div>
</div>